
.typeCategory{
  color:  #4FFF69;
  text-shadow: 0px 0px 20px rgba(79, 255, 105,.5);
  font-size: 14px;
  
}

.div_sandbox_main
{
    width: 640px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar {
  width: 12px;
  }

::-webkit-scrollbar-thumb {
  background: rgb(0, 153, 255);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
#activeFaction {

  width: 80px;
  height: auto;
  font-size: 12px;

}
.activeFaction {
  height: auto;

  align-items: center;
  bottom: 1px;
  font-size: 16px;
}

#unitFilterForm{
  padding-top: 10px;
}

#checkbox-container{
  font-size: 12px;
  text-align: center;
  align-items: center;
  word-wrap: normal;
  color: #00B3FF;
  text-shadow: 0px 0px 10px #00B3FF;
}

#sandbox-check{
  padding-top: 5px;
  padding-bottom: 40px;
}

#unitFilter{
  width:100%;
}



.div_sandbox_dock
{
    width: 85%;
    max-height: 100%;
    padding-top: 4px;
    box-shadow:0px 0px 5px #000;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    border: 1px solid #1e7aa1;
    padding: 8px;
}

.div_sandbox_utility_dock
{
    width: 100%;
    max-height: 100%;
    padding-top: 4px;
    box-shadow:0px 0px 5px #000;
    background-color: rgba(92, 84, 84, 0.514);
    display: flex;
    flex-direction: row;
    border: 1px solid #1e7aa1;
    padding: 8px;
}

.sandbox_utilities
{
    text-align: center;
    width: 15%;
    max-height: 100%;
    padding-top: 4px;
    box-shadow:0px 0px 5px #000;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    border: 1px solid #1e7aa1;
    padding: 8px;
}

.div_sandbox_unit_item.modded{
  border-style: solid;
  border-width: 1px;
  border-color: orange;
  background-color: rgba(255, 166, 0, 0.445);
}

.div_unit_list
{
    flex-grow: 1;
    max-height: 480px;
    min-width: 30px;
    max-width: 232px;
    padding: 2px 0px 0px 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: hidden;
}

.div_unit_list .buffer {
    height: 20px;
    width: 100%;
}

.img_selected_unit {
  height: 30px;
  width: 30px;
  margin: 0px;
}

#noImage {
  color:yellow;
  font-size: 9px;
  align-items: center !important;
  text-align: center !important;
  word-wrap: normal;
  display:flex;
  margin: 0px;
}